<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.teachingaids">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/teach"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/teach"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".studentService.ui.MyNoti.MsgActivity"></activity>
        <activity android:name=".studentService.ui.MyTask.StartExamActivity" />
        <activity android:name=".studentService.ui.MyClass.StuActivity" />
        <activity android:name=".tutorService.ui.task.ExamActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".tutorService.TeaMain" />
        <activity android:name=".tutorService.ui.Class.ClassActivity" />
        <activity android:name=".tutorService.ui.Class.AddClassActivity" />
        <activity android:name=".tutorService.ui.Class.StudentActivity" />
        <activity android:name=".tutorService.ui.task.AddNotiActivity" />
        <activity android:name=".tutorService.ui.task.NotiActivity" />
        <activity
            android:name=".tutorService.ui.task.ExamActivity"
            tools:ignore="DuplicateActivity" />
        <activity android:name=".tutorService.ui.task.AddExamActivity" />
        <activity android:name=".studentService.StuMain" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>